.fantasy-icon-wrapper {
	background: none;
	border: none;
}

.fantasy-icon {
	width: 1rem;
	height: 1rem;
	background-size: contain;
	background-repeat: no-repeat;
}

.place-icon {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="%238b4513" d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 256c-35.3 0-64-28.7-64-64s28.7-64 64-64s64 28.7 64 64s-28.7 64-64 64z"/></svg>');
}

.person-icon {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="%234a0e0e" d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>');
}

.fantasy-label {
	border: 1px solid;
	border-radius: 4px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	padding: 0.25rem 0.5rem;
	font-family: system-ui;
	font-size: 8pt;
	font-weight: bold;

	&::before {
		display: none;
	}
}

.leaflet-popup-tip-container {
	display: none;
}

.place-label {
	filter: hue-rotate(120deg);
}

.person-label {
	filter: hue-rotate(50deg);
}

.custom-marker-icon {
	display: flex;
	align-items: center;
	justify-content: center;
}

.custom-marker-class {
	position: relative;

	&.marker-text-shown:before {
		content: attr(data-label);
		position: absolute;
		display: inline-block;
		background: rgba(231 218 187 / 90%);
		width: max-content;
		left: 50%;
		transform: translate(-50%, 0);
		bottom: -1rem;
		padding: 0 0.25rem;
		border-radius: 0.25rem;
	}
}

/* Simple glow effect for markers with map links */
.custom-marker-class.has-map .custom-icon-container {
	filter: drop-shadow(0 0 3px #d3c190);
}

/* Add a subtle pulse animation to make it more noticeable */
.custom-marker-class.has-map {
	animation: marker-glow 2s ease-in-out infinite;
}

.item-hidden {
	display: none;
}

