#note-form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
	background: #f0e6d2;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	font-family: system-ui;
}

#note-content {
	width: 200px;
	height: 100px;
	margin-bottom: 10px;
	background: #f9f3e5;
	border: 1px solid #d0b484;
	font-family: system-ui;
}

#save-note,
#cancel-note {
	display: inline-block;
	width: 48%;
	margin: 1%;
	background: #8b4513;
	color: #f0e6d2;
	border: none;
	padding: 5px;
	cursor: pointer;
	font-family: system-ui;
}

.delete-note {
	position: absolute;
	top: 5px;
	right: 5px;
	background: none;
	border: none;
	font-size: 18px;
	cursor: pointer;
	color: #8b4513;
}

.delete-note:hover {
	color: #4a2c12;
}

