#campaign-selection {
	flex-direction: column;
	background: url(../../images/assets/landing_page_bg.png);
	background-size: cover;
	background-position: center;
	align-items: center;
	justify-content: center;
}

.campaign-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 1rem;
	font-family: 'Noto Sans', var(--font-system);
	color: #e0d0b0;
	text-shadow: 1px 1px black;

	& h1 {
		margin: 0;
	}

	& p {
		margin: 0;
	}
}

.campaign-cards-grid {
	display: flex;
	gap: 1rem;
	padding: 1rem;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.campaign-card {
	display: flex;
	flex-direction: column;
	font-family: 'Noto Sans', var(--font-system);
	font-size: 10pt;
	padding: 1rem;
	background: rgb(0 0 0 / 0.15);
	border-radius: 0.5rem;
	backdrop-filter: blur(1px);
	border: 1px solid rgba(77, 59, 0, 0.5);
	transition: all 200ms ease-in;
	max-width: 25rem;

	&:hover {
		transform: scale(1.03);
		border: 1px solid rgba(77, 59, 0, 0.75);
	}
}

.campaign-card-header {
	display: flex;
	justify-content: space-between;
}

.campaign-card-level-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	color: #eee;
}

.campaign-card-level {
	font-weight: 600;
	color: #fde79d;
	font-size: 13pt;
}

.campaign-type-badges {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	align-self: flex-start;
}

.campaign-type-badge {
	border-radius: 1rem;
	padding: 0.25rem 1rem;
	text-align: center;
	height: max-content;
	font-size: 10pt;

	&.map {
		color: white;
		background: rgb(53 94 59 / 0.8);
		border: 1px solid rgb(53 94 59 / 0.9);
	}

	&.story {
		color: white;
		background: rgb(128 0 32 / 0.8);
		border: 1px solid rgb(128 0 32 / 0.9);
	}
}

.campaign-card-content {
	display: flex;
	gap: 0.5rem;
	flex-direction: column;

	& h2 {
		color: white;
		margin-block: 1rem;
	}
}

.campaign-short-description {
	color: #fafafa;
	min-height: 65px;
}

.campaign-characters-container {
	display: flex;
	gap: 1rem;
	align-items: center;
	margin-block: 0.5rem;
}

.campaign-characters-text {
	color: #eee;
}

.campaign-characters-content {
	display: flex;
}

.campaign-selection-character-container {
	display: flex;
	margin-inline: -0.25rem;

	& img {
		height: 2rem;
		width: 2rem;
		border-radius: 100%;
		border: 2px solid rgb(0 0 0 / 0.1);
	}
}

.campaign-card-actions {
	display: flex;
	margin-top: auto;
}

.campaign-action-buttons {
	display: flex;
	gap: 0.5rem;
}

.select-campaign-btn {
	color: white;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	border: none;
	cursor: pointer;

	&[data-type='map'] {
		background: rgb(53 94 59 / 0.8);

		&:hover {
			background: rgb(53 94 59 / 1);
		}
	}

	&[data-type='story'] {
		background: rgb(128 0 32 / 0.8);

		&:hover {
			background: rgb(128 0 32 / 1);
		}
	}
}
