.character-highlight {
	color: var(--color-primary);
	font-weight: 600;
	cursor: pointer;
	text-decoration: underline dotted;
	text-decoration-thickness: 0.0625rem;
	text-underline-offset: 0.1875rem;
	position: relative;
	transition: color 0.2s ease;
}

.character-highlight:hover {
	color: var(--color-secondary);
}

/* Entity references */
.entity-reference:not(.entity-character) {
	cursor: pointer;
	border-block-end: 0.0625rem dotted;
	position: relative;
}

.entity-spell:not(.character-page__spell-name) {
	color: #9c27b0;
	border-block-end-color: #9c27b0;
}

*:not(.character-page__spell-name) > .entity-spell::before {
	content: url('data:image/svg+xml,<svg height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="purple" className="size-6"><path fillRule="evenodd" d="M14.615 1.595a.75.75 0 0 1 .359.852L12.982 9.75h7.268a.75.75 0 0 1 .548 1.262l-10.5 11.25a.75.75 0 0 1-1.272-.71l1.992-7.302H3.75a.75.75 0 0 1-.548-1.262l10.5-11.25a.75.75 0 0 1 .913-.143Z" clipRule="evenodd" /></svg>');
	padding-inline-end: 0.125rem;
}

.entity-monster {
	color: #f44336;
	border-block-end-color: #f44336;
}

.entity-class,
.entity-subclass {
	color: #2196f3;
	border-block-end-color: #2196f3;
}

.entity-location {
	color: #4caf50;
	border-block-end-color: #4caf50;
}

.entity-location::before {
	content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="14" width="14" viewBox="0 0 24 24" fill="green" class="size-6"><path fill-rule="evenodd" d="m11.54 22.351.07.04.028.016a.76.76 0 0 0 .723 0l.028-.015.071-.041a16.975 16.975 0 0 0 1.144-.742 19.58 19.58 0 0 0 2.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 0 0-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 0 0 2.682 2.282 16.975 16.975 0 0 0 1.145.742ZM12 13.5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" clip-rule="evenodd" /></svg>');
	border: none;
	font-size: 90%;
	padding-inline-end: 0.125rem;
}

.entity-faction {
	color: #ff9800;
	border-block-end-color: #ff9800;
}

.entity-faction::before {
	content: url('data:image/svg+xml,<svg height="13" width="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="orange" class="size-6"><path d="M11.47 3.841a.75.75 0 0 1 1.06 0l8.69 8.69a.75.75 0 1 0 1.06-1.061l-8.689-8.69a2.25 2.25 0 0 0-3.182 0l-8.69 8.69a.75.75 0 1 0 1.061 1.06l8.69-8.689Z" /><path d="m12 5.432 8.159 8.159c.03.03.06 .058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 0 1-.75-.75v-4.5a.75.75 0 0 0-.75-.75h-3a.75.75 0 0 0-.75.75V21a.75.75 0 0 1-.75.75H5.625a1.875 1.875 0 0 1-1.875-1.875v-6.198a2.29 2.29 0 0 0 .091-.086L12 5.432Z" /></svg>');
	border: none;
	padding-inline-end: 0.125rem;
	font-size: 90%;
}

.entity-race {
	color: #795548;
	border-block-end-color: #795548;
}

.entity-npc {
	color: black;
}

.entity-npc::before {
	content: url('data:image/svg+xml,<svg height="13" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6"><path fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0 0 21.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 0 0 3.065 7.097A9.716 9.716 0 0 0 12 21.75a9.716 9.716 0 0 0 6.685-2.653Zm-12.54-1.285A7.486 7.486 0 0 1 12 15a7.486 7.486 0 0 1 5.855 2.812A8.224 8.224 0 0 1 12 20.25a8.224 8.224 0 0 1-5.855-2.438ZM15.75 9a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" clip-rule="evenodd" /></svg>');
	padding-inline-end: 0.125rem;
}

.entity-quest::before {
	content: '📜';
	padding-inline-end: 0.125rem;
}

.entity-equipment,
.entity-magic-item {
	color: #607d8b;
	border-block-end-color: #607d8b;
}

.entity-character {
	display: inline-block;
	inline-size: max-content;
	align-items: center;
	justify-content: center;
	gap: 0.125rem;
	position: relative;
	padding-inline-start: calc(0.9375rem + 0.125rem);
	color: var(--color-primary);
	font-weight: 600;
	cursor: pointer;
	text-decoration: underline dotted;
	text-decoration-thickness: 0.0625rem;
	text-underline-offset: 0.1875rem;
	transition: color 0.2s ease;
}

.entity-character::before {
	content: '';
	background-size: contain;
	inline-size: 0.9375rem;
	block-size: 0.9375rem;
	display: inline-block;
	border-radius: 100%;
	position: absolute;
	inset-block-start: 50%;
	transform: translateY(-50%);
	inset-inline-start: 0;
}

.entity-encounter {
	color: #c41e3a;
	border-block-end-color: #c41e3a;
	font-weight: 600;

	&::before {
		content: '⚔️';
		filter: hue-rotate(90deg);
		padding-inline-end: 0.125rem;
	}
}

/* Character-specific styles */
[data-entity-name='Olek'] {
	color: #f48cba;
}

[data-entity-name='Olek']::before {
	background-image: url('../../images/assets/character_thumbnails/campaign_002/olek.jpeg');
}

[data-entity-name='Norr'] {
	color: #c41e3a;
}

[data-entity-name='Norr']::before {
	background-image: url('../../images/assets/character_thumbnails/campaign_002/norr.jpeg');
}

[data-entity-name='Soshi'] {
	color: #2aa6c9;
}

[data-entity-name='Soshi']::before {
	background-image: url('../../images/assets/character_thumbnails/campaign_002/soshi.jpeg');
}

[data-entity-name='Kaedin'] {
	color: #507f62;
}

[data-entity-name='Kaedin']::before {
	background-image: url('../../images/assets/character_thumbnails/campaign_002/kaedin.jpeg');
	filter: brightness(2);
}

[data-entity-name='Bonnie'] {
	color: #978036;
}

[data-entity-name='Bonnie']::before {
	background-image: url('../../images/assets/character_thumbnails/campaign_002/bonnie.jpeg');
}

[data-entity-name='Aenwyn'] {
	color: #2aa6c9;
}

[data-entity-name='Aenwyn']::before {
	background-image: url('../../images/assets/character_thumbnails/campaign_001/aenwyn.jpeg');
}

[data-entity-name='Aethere'] {
	color: #978036;
}

[data-entity-name='Aethere']::before {
	background-image: url('../../images/assets/character_thumbnails/campaign_001/aethere.jpeg');
}

[data-entity-name='Alezander'] {
	color: #978036;
}

[data-entity-name='Alezander']::before {
	background-image: url('../../images/assets/character_thumbnails/campaign_001/alezander.jpeg');
}

[data-entity-name='Nora'] {
	color: #978036;
}

[data-entity-name='Nora']::before {
	background-image: url('../../images/assets/character_thumbnails/campaign_001/nora.png');
}

[data-entity-name='Samantha'] {
	color: #978036;
}

[data-entity-name='Samantha']::before {
	background-image: url('../../images/assets/character_thumbnails/campaign_001/samantha.jpeg');
}

[data-entity-name='Smasherina'] {
	color: #978036;
}

[data-entity-name='Smasherina']::before {
	background-image: url('../../images/assets/character_thumbnails/campaign_001/smasherina.jpg');
}

[data-entity-name='Entire party']::before {
	background-image: url('../../images/pageicon.png');
}
