body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
}

#map {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

/* Base styles */
.view {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}
