#campaign-selection {
	display: flex;
	flex-direction: column;
	background: url('../images/assets/landing_page_bg.png');
	background-size: cover;
	background-position: center;
	color: #e0d0b0;
	font-family: var(--font-system);
	align-items: center;
}

.campaign-header {
	display: flex;
	width: 100%;
	flex-direction: column;
	padding: 1rem;
	background-color: rgba(0 0 0 / 0.4);

	& h1 {
		margin: 0;
		text-align: center;
		font-family: var(--font-description);
	}

	& p {
		margin: 0;
		text-align: center;
	}
}

.campaign-grid-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	padding: 1rem;
	margin: auto 0;
	border-radius: 1rem;

	&:has(.campaign-details-panel.visible) {
		background: rgba(0 0 0 / 0.2);

		& .campaign-cards-grid {
			flex-direction: column;
		}

		& .campaign-card {
			/* background: black; */
		}
	}
}

.campaign-cards-grid {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: center;
}

.campaign-card {
	display: flex;
	flex-direction: column;
	/* background: url('../images/assets/background_texture.png'); */
	background: url('data:image/svg+xml,<svg style="background-color: hsl(42, 33%, 84%)" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><filter id="filter_texture"><feTurbulence type="fractalNoise" baseFrequency="0.007" stitchTiles="stitch" numOctaves="5" result="noise"></feTurbulence><feDiffuseLighting in="noise" lighting-color="hsl(42, 72%, 94%)" surfaceScale="5"><feDistantLight id="distLight" azimuth="35" elevation="60"></feDistantLight></feDiffuseLighting></filter></defs><rect opacity=".8" filter="url(%23filter_texture)" width="100%" height="100%"></rect></svg>');
	/* background: #f4e4bc; */
	border: 1px solid #8b6b4a;
	border-radius: 0.5rem;

	&.active {
		border: 2px solid var(--color-primary);
	}
}

.campaign-type-badge {
	padding-block: 0.25rem;
	text-align: center;
	font-size: 10pt;
	border-radius: 0.5rem 0.5rem 0 0;
	font-weight: 500;
	background: rgba(0 0 0 / 0.1);
	color: black;

	/* &.map {
		background: rgb(83 51 30 / 50%);
	}
	&.story {
		background: rgb(89 96 70 / 50%);
	} */
}

.campaign-card-content {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	gap: 0.5rem;
}

.campaign-card-content h2 {
	font-size: 12pt;
	margin: 0;
	font-family: var(--font-description);
	color: #4a3427;
	/* padding-bottom: 0.5rem; */
	text-align: center;
}

.campaign-icon {
	max-width: 60px;
	margin: 0 auto;
	display: none;
}

.campaign-short-description {
	font-size: 9pt;
	max-width: 60ch;
	color: #5c4434;

	padding-top: 0.5rem;
	border-top: 1px solid var(--color-border);
}

.campaign-card-actions {
	display: flex;
	gap: 0.25rem;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;
}

.campaign-card-actions button {
	background: rgba(139, 107, 74, 0.1);
	padding: 0.25rem 0.75rem;
	border-radius: 3px;
	color: #6d4c33;
	font-size: 0.75rem;
	border: 1px solid rgba(139, 107, 74, 0.3);
	cursor: pointer;
}

.campaign-details-panel {
	flex-direction: column;
	background: url('../images/assets/background_texture.png');
	border-radius: 0.5rem;
	color: black;
	max-width: 110ch;
	border: 1px solid var(--color-border);
	align-self: flex-start;

	&.hidden {
		display: none;
	}

	&.visible {
		display: flex;
	}
}

.details-header {
	display: flex;
	padding: 1rem;
	font-family: var(--font-headers);
	border-bottom: 1px solid var(--color-border);
	background: rgba(0 0 0 / 0.05);

	& h2 {
		margin: 0;
		color: var(--color-primary);
	}
}

.details-close-button {
	margin-left: auto;
	background: none;
	border: none;
	color: black;
	font-size: 14pt;
	cursor: pointer;
}

.details-content {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	gap: 1rem;
}

.details-description {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	& h3 {
		margin: 0;
		color: var(--color-primary);
		font-family: var(--font-headers);
		border-bottom: 1px solid var(--color-border);
		width: 100%;
	}

	& p {
		font-size: 10pt;
		max-width: 100ch;
		margin: 0;
		line-height: 13pt;
		text-align: justify;
	}
}

.details-levels {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;

	& h3 {
		margin: 0;
		color: var(--color-primary);
		font-family: var(--font-headers);
		border-bottom: 1px solid var(--color-border);
		width: 100%;
	}

	& p {
		font-size: 10pt;
		max-width: 100ch;
		margin: 0;
	}
}

.details-characters-section {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	& h3 {
		margin: 0;
		color: var(--color-primary);
		font-family: var(--font-headers);
		border-bottom: 1px solid var(--color-border);
		width: 100%;
	}
}

.details-characters {
	display: flex;
	gap: 0.75rem;
	flex-wrap: wrap;
	max-width: 80ch;
}

.details-character {
	display: flex;
	gap: 0.5rem;
	align-items: center;

	& .character-info {
		flex-direction: column;
		align-items: flex-start;
		gap: 0;

		& .character-name {
			font-weight: 500;
			font-size: 10pt;
		}

		& .character-stats {
			font-weight: 400;
			font-size: 9pt;
		}
	}

	& .character-icon {
		width: 30px;
		height: 30px;
		border-radius: 100%;
	}
}

.details-action {
	border-top: 1px solid var(--color-border);
	padding-top: 0.5rem;
}

.start-campaign-btn {
	background-color: rgb(65 41 37);
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	transition: all 0.2s ease;
	border: 1px solid rgba(255, 255, 255, 0.1);
	padding: var(--spacing-sm);
	border-radius: var(--border-radius-md);
	color: white;
}

@media (max-width: 768px) {
	.campaign-cards-grid.campaign-cards-grid {
		flex-direction: row !important;
		flex-wrap: wrap;
	}

	.campaign-grid-container {
		flex-direction: column;
	}

	.details-header h2 {
		font-size: 12pt;
	}

	.campaign-details-panel h3 {
		font-size: 11pt;
	}
}

/* Small screen adjustments */
@media (max-width: 480px) {
}
