:root {
	--character-page-header-color: #691e1e;
}

.character-page {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	overflow: auto;
	padding: 1rem;
	width: 100%;
	background: url('data:image/svg+xml,<svg style="background-color: hsl(42, 100%, 96%)" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><filter id="filter_texture"><feTurbulence type="fractalNoise" baseFrequency="0.039" stitchTiles="stitch" numOctaves="5" result="noise"></feTurbulence><feDiffuseLighting in="noise" lighting-color="hsl(42, 33%, 93%)" surfaceScale="1"><feDistantLight id="distLight" azimuth="35" elevation="60"></feDistantLight></feDiffuseLighting></filter></defs><rect opacity=".8" filter="url(%23filter_texture)" width="100%" height="100%"></rect></svg>');
}

.character-side-one,
.character-side-two {
	height: calc(100vh - 5rem);
}

.character-side-one {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.character-page__image {
	display: block;
	max-width: 200px;
	border: 2px solid orange;
}

.character-page__background {
	font-family: var(--font-system);
	font-size: 10pt;
	font-weight: 500;
	/* padding-top: 0.5rem; */
	/* border-top: 2px solid #c5b58b; */
	max-width: 600px;
	background: #faf8ea;
	padding: 0.25rem 0.75rem;
	border-inline: 1px solid black;
	overflow: auto;
	height: 100%;
}

.character-side-two {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	background: #faf1dc;
	background: url('data:image/svg+xml,<svg style="background-color: hsl(42, 33%, 84%)" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><filter id="filter_texture"><feTurbulence type="fractalNoise" baseFrequency="0.007" stitchTiles="stitch" numOctaves="5" result="noise"></feTurbulence><feDiffuseLighting in="noise" lighting-color="hsl(42, 72%, 94%)" surfaceScale="5"><feDistantLight id="distLight" azimuth="35" elevation="60"></feDistantLight></feDiffuseLighting></filter></defs><rect opacity=".8" filter="url(%23filter_texture)" width="100%" height="100%"></rect></svg>');
	border-top: 6px solid #ff9800;
	border-bottom: 6px solid #ff9800;
	box-shadow: 0px 0px 6px 2px #c5c5c5;
	width: 500px;
	justify-self: flex-end;
	margin-right: 2rem;
}

.character-page__identifiers {
	display: flex;
	flex-direction: column;
}

.character-page__name {
	font-family: var(--font-main);
	font-size: 20pt;
	font-weight: 500;
	text-transform: uppercase;
	color: var(--character-page-header-color);
	line-height: 18pt;
}

.character-page__separator {
	width: 100%;
	height: 1px;
	background: #ac4e4e;
	margin-block: 0.5rem;
}

.character-page__metadata {
	font-family: var(--font-system);
	display: flex;
	flex-direction: column;
	height: 100%;

	& .character-page__header {
		margin-block: 0.5rem;
		border-bottom: 1px solid #ac4e4e;
	}
}

.character-page__header {
	font-weight: 600;
	font-family: var(--font-main);
	font-size: 12pt;
	color: var(--character-page-header-color);
	display: block;
}

.character-page__hp {
	display: flex;
	justify-content: space-evenly;
}

.character-page__hp-item {
	display: flex;
	gap: 0.5rem;
	font-size: 10pt;
}

.character-page__hp-item-name {
	font-weight: 600;
	color: var(--character-page-header-color);
}

.character-page__ability-scores {
	display: flex;
	gap: 0.5rem;
	justify-content: space-evenly;
}

.character-page__ability-box {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.character-page__ability-name {
	color: var(--character-page-header-color);
	font-size: 10pt;
	font-weight: 600;
}

.character-page__ability-values {
	display: flex;
	gap: 0.25rem;
	font-size: 9pt;
	font-weight: 500;
}

.character-page__saving-throws {
	display: flex;
	gap: 0.5rem;
	justify-content: space-evenly;
}

.character-page__save-item {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.character-page__save-name {
	color: var(--character-page-header-color);
	font-size: 10pt;
	font-weight: 600;
}

.character-page__save-value {
	font-size: 9pt;
}

.character-page__actions,
.character-page__features {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 0.25rem;
}

.character-page__action-item,
.character-page__feature-item {
	font-size: 9.5pt;
	padding: 0.25rem 0.5rem;
	background: #e1d7c0;
	border-radius: 0.25rem;
	position: relative;
}

.character-page__action-item-description,
.character-page__feature-item-description {
	position: absolute;
	background: #e8e3da;
	z-index: 2;
	width: 40ch;
	padding: 0.25rem;
	top: 100%;
	border-radius: 0.25rem;
	border: 1px solid #b9ac8e;
	left: 0;
}

.description-hidden {
	display: none;
}

.has-description {
	cursor: pointer;

	&:has(.character-page__action-item-description:not(.description-hidden)) .character-page__action-item-name,
	&:has(.character-page__feature-item-description:not(.description-hidden)) .character-page__feature-item-name {
		font-weight: 600;
	}
}

.character-page__action-item-name,
.character-page__feature-item-name {
	cursor: pointer;
	display: block;
}

.character-page__spells {
	display: flex;
	flex-direction: column;
	font-size: 10pt;
	gap: 0.25rem;
	overflow: auto;
}

.character-page__spell-group-header {
	font-weight: 600;
	margin-top: 0.25rem;
}

.character-page__spell-item {
	display: flex;
	flex-direction: column;
	padding-left: 0.75rem;
	justify-content: center;

	&:hover {
		background: #e1d7c0;
		border-radius: 0.25rem;
	}
}

.character-page__spell-name {
	font-weight: 600;
	color: var(--character-page-header-color);
}

.character-page__spell-meta {
	display: flex;
	gap: 0.5rem;
	font-size: 9pt;

	& > *:not(:last-child)::after {
		content: ' • ';
		padding-left: 0.25rem;
	}
}

@media (max-width: 768px) {
	.character-page__background {
		/* max-width: 100%; */
		/* padding-right: 2rem; */
		height: max-content;
		overflow: unset;
	}

	.character-page {
		overflow: unset;
		justify-content: center;
		max-width: calc(100% - 2rem);
	}

	.character-side-two {
		/* width: 100%; */
		margin-right: unset;
		height: max-content;
	}

	.character-side-one {
		align-items: center;
	}

	.character-page__spell-note {
		display: none;
	}

	.character-page__spells {
		max-height: 300px;
	}
}
