:root {
	--bg-color-yellow: #cba04b;
	--border-color-yellow: #986c3d;
	--font-system: system-ui, sans-serif;
	--font-title: 'IM Fell English SC', system-ui, sans-serif;
	--font-description: 'Oldenburg', system-ui, sans-serif;
}
